@import './Mixins.scss';

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.03);
  }
  @include onTablet {
    margin-bottom: 0;
  }
}

.img {
  width: 100px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.card__link {
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
  &:hover {
    text-decoration: underline;
  }
}

.card__title {
  font-size: 20px;
}

.card__tech {
  width: 60%;
  background-color: transparent;
}